@using SixMan.ChiMa.Domain.Base
@using SixMan.ChiMa.Web.Startup
@using SixMan.ChiMa.Application.Food.Dto
@model SixMan.ChiMa.Web.Models.PagedResultVM<FoodMaterialCategoryDto>
@{
    ViewBag.CurrentPageName = PageNames.FoodMaterialCategory; //The menu item will be active for this page.
}
@section scripts
{
    @*<script>
        var _categoryService = abp.services.app.foodMaterialCategory;
    </script>*@

    <environment names="Development">
        <script src="~/view-resources/Views/FoodMateriaCategory/Index.js" asp-append-version="true"></script>
    </environment>

    <environment names="Staging,Production">
        <script src="~/view-resources/Views/FoodMateriaCategory/Index.min.js" asp-append-version="true"></script>
    </environment>

   
    
}

<div id="toolbar" class="btn-group">
    <button id="btn_add" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>新增
    </button>    
    <button id="btn_delete" type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
    </button>
</div>

<table id="tb_category" data-bind="myBootstrapTable:$root">
    <thead>
        <tr>
            <th data-checkbox="true"></th>
            <th data-field="code" data-editable="true">编码</th>
            <th data-field="name" data-editable="true">名称</th>
        </tr>
    </thead>
</table>
