@using SixMan.ChiMa.Web.Startup
@using SixMan.ChiMa.Web.Models.Food
@{
    ViewBag.CurrentPageName = PageNames.Dish; //The menu item will be active for this page.
}

<div style="margin:5px">
    <div>
        <input id="dishName" class="easyui-textbox" data-options="prompt:'菜品名称'" style="width:300px">
        <a id="query" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="reload()">查询</a>

    </div>
</div>

<div id="listGrid" style="width:100%;height:auto">
</div>

<div id="dlg" class="easyui-dialog" style="width:500px"
     closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" name="editForm" style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">菜品信息</div>
        <input id="id" name="id" hidden="hidden" />
        <div style="margin-bottom:10px">
            <input id="description" name="description" class="easyui-textbox" required="required" label="名称:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="dishCategory" id="dishCategory"  class="easyui-textbox" label="类别:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input id="taste" name="taste" class="easyui-textbox" required="required" label="口味:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input id="hPhoto" name="hPhoto" class="easyui-textbox" required="required" label="图片:" readonly="readonly" style="width:100%">
        </div>


    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save()" style="width:90px">Save</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
</div>

<div id="dlgUploadImg" class="easyui-dialog" style="width:500px"
     closed="true" buttons="#dlg-buttons">
    <form id="fmUploadImg" method="post" name="editFormUploadImg" style="margin:0;padding:20px 50px">
        <div class="form-group" id="div_Photo">
            <input name="photo" id="photo" readonly="readonly" class="easyui-textbox" label="名称:" style="width:100%" />
            <input id="imgfile" class="easyui-filebox" data-options="buttonText:'选择文件',accept:'image/*.img'" style="width:80%">
            <button id="btn_upload_img" type="button" class="btn btn-default" onClick="uploadImg2();">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传
            </button>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlgUploadImg').dialog('close')" style="width:90px">Cancel</a>
</div>

@section scripts
    {
    <script src="~/js/simpleCrud.js" asp-append-version="true"></script>

    <script>
        $(function () {
            _appService = abp.services.app.dish;
            _entityName = "菜品";

            //initCombobox('#dishCategory', abp.services.app.dishCategory);
            //initCombobox("[name$='foodMaterialCategoryId'", abp.services.app.dishCategory);
            initListDataGrid({
                columns: [[
                    { field: 'id', title: 'id', width: 50, align: 'right' },
                    { field: 'description', title: '名称', width: 100, align: 'right' },
                    { field: 'dishCategory', title: '类别', width: 100, align: 'right' },
                    { field: 'taste', title: '口味', width: 100, align: 'right' },
                    {
                        field: 'hPhoto', title: '图片', width: 100, align: 'right',
                        formatter: function (value, row, index) {
                            if (value) {
                                return imgFormater(value);
                            }
                            return "";
                        }
                    },
                ]],
                onBeforeLoad: function (param) {

                    param.search = $('#dishName').val();
                },
                onLoadSuccess: function (data) {
                    //$("a[name='opera']").linkbutton({ text: '上传图片', plain: true, iconCls: 'icon-upload' });
                },

            });
        });


    </script>
}