@using SixMan.ChiMa.Domain.Base
@using SixMan.ChiMa.Web.Startup
@using SixMan.ChiMa.Web.Models
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SixMan.ChiMa.Web.Views.Shared.Components.ListPage
@using SixMan.ChiMa.Web.Extensions
@using SixMan.ChiMa.Application
@model MetaViewModel
@{
    ViewBag.CurrentPageName = PageNames.Dish; //The menu item will be active for this page.
}
    @await Component.InvokeAsync(typeof(ListPageViewComponent), Model.Meta)

    @Html.Partial("~/Views/Shared/Modals/_CrudModalHeader.cshtml") 
            <div class="modal-body">
                <bg-form id="myForm" asp-action="SignUp" asp-for="@Model">
                    @Html.Partial("~/Views/Shared/Modals/_CrudPhoto.cshtml") 
                    <div class="form-group" id="div_DishBoms">
                        <button data-bind="click: addItem">新增食材</button>  
                        <table id="tb_dishBoms" >
                            <thead>
                                <tr>                                    
                                    <th data-field="foodMaterialName" data-editable="true">食材</th>
                                    <th data-field="matching" data-editable="true"  >配比</th>
                                </tr>
                            </thead>
                            <tbody  data-bind="template: { name: 'dishBomItem-template', foreach: dishBoms }"  id="tbody_disBoms">
                               
                            </tbody>
                        </table>                        
                    </div>

                </bg-form>
            </div>
     @Html.Partial("~/Views/Shared/Modals/_CrudModalFooterWithSaveAndCancel.cshtml") 
       

@section scripts
{
 <script src="~/view-resources/Views/Shared/domainCrud.js"  asp-append-version="true"></script>
<script type="text/html" id="dishBomItem-template">
    <tr  data-bind="ifnot:clientDelete" >
        <td>
            <input type="text" data-bind="value:foodMaterialName" />
        </td>
        <td>
            <input type="text" data-bind="value:matching" />
        </td>
        <td>删除：
            <input type="checkbox" data-bind="checked:clientDelete" />
        </td>
        
    </tr>
 </script>
 <script>
    //初始化
    $(function () {
        //0, 设置service
        ko.appService = abp.services.app.dish;
        crudInit('Dish');
    });

     function EntityModel() {
         var self = this;

         self.id = ko.observable();
     @foreach (var property in Model.Meta.EditProperties())
     {
        if( property.PropertyName == "DishBoms")
        {
          @:self.@property.JsonPropertyName()  = ko.observableArray();
        }
        else
        {
          @:self.@property.JsonPropertyName()  = ko.observable();
        }
      }
     self.addItem = function () {
            self.dishBoms.push({
                foodMaterialName: ko.observable( "新食材"),
                matching: ko.observable("0.01"),
                clientDelete: ko.observable( false)
            });
     };

     self.removeItem = function () {
         $.each(self.dishBoms, function (index, item) {
         });
     };

     }

     function isArray(o) {
         return Object.prototype.toString.call(o) == '[object Array]';
     }

     function colFormater(value, row, index) {
         if (isArray(value)) {
             var div = '<ul>';
             $.each(value, function(index, item){
                 var itemLi = '<li>' + item.foodMaterialName + ':' + item.matching +'</li>'
                 div = div + itemLi;
             });
             div = div + "</ul>";
             return div;
         }
         else {
             return value;
         }
     }

    

  </script> 

}