@using SixMan.ChiMa.Web.Startup
@{
    Layout = "~/Views/Shared/_Layout - Copy.cshtml";
    ViewBag.CurrentPageName = PageNames.FoodMaterial; //The menu item will be active for this page.
}
@*<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/favicon.ico">
    <title>ChiMa</title>
    <environment names="Development">
        <link href="~/fonts/roboto/roboto.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/fonts/material-icons/materialicons.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-select/dist/css/bootstrap-select.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/toastr/toastr.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/sweetalert/dist/sweetalert.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/famfamfam-flags/dist/sprite/famfamfam-flags.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/Waves/dist/waves.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/animate.css/animate.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/materialize.css" rel="stylesheet" asp-append-version="true" /> 
        <link href="~/css/style.css" rel="stylesheet" asp-append-version="true">
        <link href="~/css/themes/all-themes.css" rel="stylesheet" asp-append-version="true" />

        <link href="~/view-resources/Views/Shared/_Layout.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/x-editable/dist/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
   
   
</head>*@

<div id="testForm">
    <h2>testoptions</h2>
    <select data-bind="options:testOptions,value:test, event:{change:whenchage}">
    </select>
    <h3>test:</h3>
    <label data-bind="text:test"></label>
</div>



    @*<script src="~/lib/json2/json2.js" asp-append-version="true"></script>
<script src="~/lib/jquery/dist/jquery.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js" asp-append-version="true"></script>
<script src="~/lib/moment/min/moment-with-locales.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js" asp-append-version="true"></script>
<script src="~/lib/blockUI/jquery.blockUI.js" asp-append-version="true"></script>
<script src="~/lib/toastr/toastr.js" asp-append-version="true"></script>
<script src="~/lib/sweetalert/dist/sweetalert-dev.js" asp-append-version="true"></script>
<script src="~/lib/spin.js/spin.js" asp-append-version="true"></script>
<script src="~/lib/spin.js/jquery.spin.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-select/dist/js/bootstrap-select.js" asp-append-version="true"></script>
<script src="~/lib/jquery-slimscroll/jquery.slimscroll.js" asp-append-version="true"></script>
<script src="~/lib/knockout/dist/knockout.js" asp-append-version="true"></script>
<script src="~/lib/knockout-mapping/knockout.mapping.js" asp-append-version="true"></script>
<script src="~/lib/x-editable/dist/bootstrap3-editable/js/bootstrap-editable.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-table/dist/bootstrap-table.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js" asp-append-version="true"></script>
<script src="~/lib/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js" asp-append-version="true"></script>
<script src="~/js/knockout.bootstraptable.js" asp-append-version="true"></script>
<script src="~/lib/Waves/dist/waves.js" asp-append-version="true"></script>
<script src="~/lib/push.js/push.js" asp-append-version="true"></script>*@

@section scripts
    {
<script>
            function newEntityModel() {
                var enityModel = {
                    id: ko.observable(),
                    description: ko.observable(),
                    foodMaterialCategoryId: ko.observable(),
                    season: ko.observable(),
                    testOptions: ko.observableArray( ["One", "Two"]),
                    test: ko.observable("Two"),
                    whenchage: function (p) {
                        alert('here:' + p.test());

                    },
                };
                return enityModel;
            }

            //初始化
            $(function () {
                var vm = newEntityModel();
                var dom = document.getElementById("testForm");
                ko.applyBindings(vm, dom);

            });
</script>
 }