<div class="form-group" id="div_Photo">
    <label for="photo">图片</label>
    <input type="text" data-bind="value:photo" id="photo" name="photo" readonly="readonly" />
    <input type="file" id="imgfile" name="imgfile" />
    <button id="btn_upload_img" type="button" class="btn btn-default" onClick="uploadImg();">
        <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传
    </button>
</div>