@using SixMan.ChiMa.Domain.Base
@using SixMan.ChiMa.Web.Startup
@using SixMan.ChiMa.Web.Models.Food
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SixMan.ChiMa.Web.Views.Shared.Components.ListPage
@using SixMan.ChiMa.Web.Extensions
@using SixMan.ChiMa.Application
@model EditFoodMaterialModalViewModel
@{
    ViewBag.CurrentPageName = PageNames.FoodMaterial; //The menu item will be active for this page.
}

<div style="margin:5px" >
    <div>
        <input id="foodMaterialCategory" style="width:300px" >
        <input id="foodMaterialName" type="text" style="width:300px">
        <a id="query" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>

    </div>
</div>

<div id="listGrid" style="width:100%;height:auto">
</div>

<div id="dlg" class="easyui-dialog" style="width:400px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" name="editForm"  style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">食材信息</div>
            <div style="margin-bottom:10px">
                <input name="description" class="easyui-textbox" required="true" label="名称:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="foodMaterialCategoryId" id="foodMaterialCategory"   label="类别:" style="width:100%">
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
    </div>

@section scripts
 {
    <script src="~/view-resources/Views/FoodMaterial/Index.js" asp-append-version="true"></script>
}