@using SixMan.ChiMa.Domain.Base
@using SixMan.ChiMa.Web.Startup
@using SixMan.ChiMa.Web.Models.Food
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SixMan.ChiMa.Web.Views.Shared.Components.ListPage
@using SixMan.ChiMa.Web.Extensions
@using SixMan.ChiMa.Application
@model EditFoodMaterialModalViewModel
@{
    ViewBag.CurrentPageName = PageNames.FoodMaterial; //The menu item will be active for this page.
}

<div style="margin:5px" >
    <div>
        <input id="foodMaterialCategory" style="width:300px" >
        <input id="foodMaterialName" type="text" style="width:300px">
        <a id="query" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>

    </div>
</div>

<div id="listGrid" style="width:100%;height:auto">
</div>

<div id="dlg" class="easyui-dialog" style="width:500px"
            closed="true" buttons="#dlg-buttons">
        <form id="fm" method="post" name="editForm"  style="margin:0;padding:20px 50px">
            <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">食材信息</div>
            <div style="margin-bottom:10px">
                <input id="description" name="description" class="easyui-textbox" required="required" label="名称:" style="width:100%">
            </div>
            <div style="margin-bottom:10px">
                <input name="foodMaterialCategoryId" id="foodMaterialCategory"   label="类别:" style="width:100%">
            </div>
            <div class="form-group" id="div_Photo">
                <input  name="photo"  id="photo" readonly="readonly"  class="easyui-textbox"  label="名称:"  style="width:100%"/>
                <input  id="imgfile" class="easyui-filebox" data-options="buttonText:'选择文件',accept:'image/*.img'"  style="width:80%">
                <button id="btn_upload_img" type="button" class="btn btn-default" onClick="uploadImg2();">
                    <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传
                </button>
            </div>
        </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
    </div>

@section scripts
 {
     <script>

         var _appService;

         $(function () {
             _appService = abp.services.app.foodMaterial;

             //initDateFormat();
             initQuery();
             initListDataGrid();
             //initForm();

             //reloadData();

         });

         function initDateFormat() {
             // 对Date的扩展，将 Date 转化为指定格式的String
             // 月(M)、日(d)、小时(h)、分(m)、秒(s)、季度(q) 可以用 1-2 个占位符，
             // 年(y)可以用 1-4 个占位符，毫秒(S)只能用 1 个占位符(是 1-3 位的数字)
             // 例子：
             // (new Date()).Format("yyyy-MM-dd hh:mm:ss.S") ==> 2006-07-02 08:09:04.423
             // (new Date()).Format("yyyy-M-d h:m:s.S")   ==> 2006-7-2 8:9:4.18
             Date.prototype.Format = function (fmt) { //author: meizz
                 var o = {
                     "M+": this.getMonth() + 1, //月份
                     "d+": this.getDate(), //日
                     "h+": this.getHours(), //小时
                     "m+": this.getMinutes(), //分
                     "s+": this.getSeconds(), //秒
                     "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                     "S": this.getMilliseconds() //毫秒
                 };
                 if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
                 for (var k in o)
                     if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                 return fmt;
             }
         }

         function initQuery() {
             var fmcComboboxs = [$('#foodMaterialCategory'), $("[name$='foodMaterialCategoryId'")];
             $.each(fmcComboboxs, (function () {
                 $(this).combobox({
                     valueField: 'id',
                     textField: 'name',
                     editable: false,
                     loadFilter: filterData,
                     onBeforeLoad: function (param) {
                         console.log(param);
                     },
                     loader: function (param, success, error) {
                         console.log(param);
                         var _appService = abp.services.app.foodMaterialCategory;
                         var data = _appService.getAll(param)
                             .done(function (data) {
                                 success(data);
                             });
                     },

                 })
             }));

             $('#foodMaterialName').textbox({
                 prompt: '食材名称',
             });            

             $('#query').click(function () {
                 $('#listGrid').datagrid('reload');
             });


         }

         function filterData(data) {
             if (data.result) {
                 return data.result;
             }
             else
                 if (data.items) {
                     return data.items;
                 }
                 else {
                     return data;
                 }
         }

         function initListDataGrid() {
             $('#listGrid').datagrid({
                 //url: '/api/services/app/foodMaterial/GetAll',
                 singleSelect: true,
                 columns: [[
                     { field: 'id', title: 'id', width: 50, align: 'right' },
                     { field: 'description', title: '名称', width: 100, align: 'right' },
                     { field: 'foodMaterialCategoryName', title: '类别', width: 100, align: 'right' },
                     { field: 'foodMaterialCategoryIndexNo', title: '类别索引号', width: 100, align: 'right' },
                 ]],
                 loadFilter: function (data) {
                     console.log(data);
                     if (data.result) {
                         if (data.result.items) {
                             var pageData = {};
                             pageData.total = data.result.totalCount;
                             pageData.rows = data.result.items;
                             return pageData;
                         }

                     }
                     else
                         if (data.items) {
                             var pageData = {};
                             pageData.total = data.totalCount;
                             pageData.rows = data.items;
                             return pageData;
                         } else {
                             return data;
                         }
                 },
                 pagination: true,
                 onBeforeLoad: function (param) {

                     param.skipCount = (param.page - 1) * param.rows;
                     param.maxResultCount = param.rows;

                     param.foodMaterialCategoryId = $('#foodMaterialCategory').val();
                     param.name = $('#foodMaterialName').val();

                 },
                 loader: function (param, success, error) {
                     console.log(param);
                     //var _appService = abp.services.app.foodMaterial;
                     var data = _appService.getAll(param)
                         .done(function (data) {
                             //listGrid.datagrid("loadData", data);
                             success(data);
                         });
                 },

                 //onClickRow: function (index, row) {
                 //    if (row) {
                 //        $('#dlg').dialog('open').dialog('setTitle', 'Edit Action');
                 //        $('#fm').form('load', row);
                 //        url = '/api/services/app/testAction/Update?id=' + row.id;
                 //    }
                 //},
                 toolbar: [
                     {
                         iconCls: 'icon-add',
                         text: '添加',
                         handler: function () {
                             create();
                         }
                     },
                     {
                         iconCls: 'icon-edit',
                         text: '编辑',
                         handler: function () {
                             edit();
                         }
                     },
                     {
                         iconCls: 'icon-remove',
                         text: '删除',
                         handler: function () {
                             alert('remove')
                         }
                     },
                     '-',
                     {
                         iconCls: 'icon-reload',
                         text: '刷新',
                         handler: function () {
                             alert('refresh')
                         }
                     }
                 ],
             });
         }

         function create() {
             $('#dlg').dialog('open').dialog('center').dialog('setTitle', '添加食材');
             $('#fm').form('clear');
         }

         function edit() {
             var row = $('#listGrid').datagrid('getSelected');
             if (row) {
                 $('#dlg').dialog('open').dialog('center').dialog('setTitle', '编辑食材');
                 $('#fm').form('load', row);
             }
         }

         function save() {
             var _$form = $('form[name=editForm]');

             if (!_$form.valid()) {
                 return;
             }

             var entity = _$form.serializeFormToObject(); //serializeFormToObject is defined in main.js
             abp.ui.setBusy(_$form);
             _appService.creatOrUpdate(entity).done(function () {
                 $('#dlg').dialog('close');      // close the dialog
                 $('#listGrid').datagrid('reload');  // reload the user data
             }).always(function () {
                 abp.ui.clearBusy(_$form);
             });

         }

         function initForm() {
             $('.easyui-datebox').datebox({
                 formatter: function (date) {
                     if (date) {
                         return new Date(date).Format("yyyy-MM-dd");
                     }
                     return date;
                 },
                 parser: function (s) {
                     var t = Date.parse(s);
                     if (!isNaN(t)) {
                         return new Date(t);
                     } else {
                         return new Date();
                     }
                 }
             });
         }

         function uploadImg2() {
             var file = document.getElementById('filebox_file_id_1').files[0];
             if (file == null) {
                 alert("上传文件出现错误！");
                 return;
             }
             var formData = new FormData();
             var filePath = 'FoodMaterial' + '/' + $('#description').val() + '.jpg';
             formData.append('photoFilePath', filePath);
             formData.append('imgfile', file);
             $.ajax({
                 type: "POST",
                 url: '/Image'  + '/Upload',
                 contentType: false,
                 processData: false,
                 data: formData,
                 success: function (res) {
                     if (res.success) {
                         abp.notify.success('上传文件成功：', res.result);
                     }
                     else {
                         abp.message.error('上传文件出现错误:', res.error.message);
                     }
                 },
                 error: function () {
                     alert("上传文件出现错误！");
                 }
             });
         }

     </script>
    @*<script src="~/view-resources/Views/FoodMaterial/Index.js" asp-append-version="true"></script>*@
}