@using SixMan.ChiMa.Domain.Base
@using SixMan.ChiMa.Web.Startup
@using SixMan.ChiMa.Web.Models.Food
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SixMan.ChiMa.Web.Views.Shared.Components.ListPage
@using SixMan.ChiMa.Web.Extensions
@using SixMan.ChiMa.Application
@model EditFoodMaterialModalViewModel
@{
    ViewBag.CurrentPageName = PageNames.FoodMaterial; //The menu item will be active for this page.
}

<div style="margin:5px" >
    <div>
        <input id="foodMaterialCategory" style="width:300px" >
        <input id="foodMaterialName" class="easyui-textbox"  data-options="prompt:'食材名称'" style="width:300px">
        <a id="query" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'" onclick="reload()">查询</a>

    </div>
</div>

<div id="listGrid" style="width:100%;height:auto">
</div>

<div id="dlg" class="easyui-dialog" style="width:500px"
            closed="true" buttons="#dlg-buttons">
    <form id="fm" method="post" name="editForm" style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">食材信息</div>
        <input id="id" name="id" hidden="hidden"/>
        <div style="margin-bottom:10px">
            <input id="description" name="description" class="easyui-textbox" required="required" label="名称:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="foodMaterialCategoryId" id="foodMaterialCategory" label="类别:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input id="price" name="price" class="easyui-textbox" required="required" label="价格:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input id="photo" name="photo" class="easyui-textbox" required="required" label="图片:" readonly="readonly" style="width:100%">
        </div>


    </form>
    </div>
    <div id="dlg-buttons">
        <a href="javascript:void(0)" class="easyui-linkbutton c6" iconCls="icon-ok" onclick="save()" style="width:90px">Save</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Cancel</a>
    </div>

<div id="dlgUploadImg" class="easyui-dialog" style="width:500px"
     closed="true" buttons="#dlg-buttons">
    <form id="fmUploadImg" method="post" name="editFormUploadImg" style="margin:0;padding:20px 50px">        
        <div class="form-group" id="div_Photo">
            <input name="photo" id="photo" readonly="readonly" class="easyui-textbox" label="名称:" style="width:100%" />
            <input id="imgfile" class="easyui-filebox" data-options="buttonText:'选择文件',accept:'image/*.img'" style="width:80%">
            <button id="btn_upload_img" type="button" class="btn btn-default" onClick="uploadImg2();">
                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>上传
            </button>
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlgUploadImg').dialog('close')" style="width:90px">Cancel</a>
</div>

@section scripts
 {
     <script src="~/js/simpleCrud.js" asp-append-version="true"></script>

     <script>
         $(function () {
             _appService = abp.services.app.foodMaterial;
             _entityName = "食材";

             initCombobox('#foodMaterialCategory', abp.services.app.foodMaterialCategory);
             initCombobox("[name$='foodMaterialCategoryId'", abp.services.app.foodMaterialCategory);
             initListDataGrid({
                 columns: [[
                     { field: 'id', title: 'id', width: 50, align: 'right' },
                     { field: 'description', title: '名称', width: 100, align: 'right' },
                     { field: 'foodMaterialCategoryName', title: '类别', width: 100, align: 'right' },
                     { field: 'price', title: '价格', width: 100, align: 'right' },
                     {
                         field: 'photo', title: '图片', width: 100, align: 'right',
                         formatter: function (value, row, index) { 
                             if (row.hasImage && row.photo) {
                                 return imgFormater( row.photo );
                             }
                             return "";
                         } },
                 ]],
                 onBeforeLoad: function (param) {

                     param.skipCount = (param.page - 1) * param.rows;
                     param.maxResultCount = param.rows;

                     param.foodMaterialCategoryId = $('#foodMaterialCategory').val();
                     param.name = $('#foodMaterialName').val();

                 },
                 onLoadSuccess: function (data) {
                     //$("a[name='opera']").linkbutton({ text: '上传图片', plain: true, iconCls: 'icon-upload' });
                 },

             });
             //initForm();
             //reloadData();
         });        


     </script>
}