@using SixMan.ChiMa.Domain.Base
@using SixMan.ChiMa.Web.Startup
@using SixMan.ChiMa.Web.Models.Food
@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SixMan.ChiMa.Web.Views.Shared.Components.ListPage
@using SixMan.ChiMa.Web.Extensions
@using SixMan.ChiMa.Application
@model EditFoodMaterialModalViewModel
@{
    ViewBag.CurrentPageName = PageNames.FoodMaterial; //The menu item will be active for this page.
}

<div id="listGrid" style="width:100%;height:auto">
</div>

@section scripts
 {
    <script src="~/view-resources/Views/FoodMaterial/Index.js" asp-append-version="true"></script>
}