@page
@model SixMan.ChiMa.Web.Mvc.Pages.Category.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
